<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav">
    <wm-navbar>
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Home" name="homeButton" iconclass="glyphicon glyphicon-home" on-click="goToPage_Main"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Order" name="orderButton" iconclass="glyphicon glyphicon-list"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="list_help">
                <wm-anchor caption="Help" name="helpLink" iconclass="glyphicon glyphicon-question-sign"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_logout">
                <wm-anchor caption="Logout" name="logoutLink" iconclass="glyphicon glyphicon-user" on-click="logoutVariable"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>