<wm-page name="mainpage" data-ng-controller="MainPageController" pagetitle="Main">
    <wm-header name="header" height="auto" content="header"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel name="leftpanel" content="leftnav" columnwidth="2"></wm-left-panel>
        <wm-page-content name="mainContent" columnwidth="8" paddingright="15" paddingleft="15">
            <wm-button class="btn-default" type="button" name="button1" caption="contributor change"></wm-button>
            <wm-button class="btn-default" type="button" name="button2" caption="Owner change"></wm-button>
            <wm-list name="list1">
                <wm-list-item name="list_item1">
                    <wm-label name="label2" caption="Added db"></wm-label>
                </wm-list-item>
                <wm-list-item name="list_item2">
                    <wm-label name="label3" caption="Added webservice"></wm-label>
                </wm-list-item>
                <wm-list-item name="list_item3">
                    <wm-label name="label3_1" caption="Added page and enabled security"></wm-label>
                </wm-list-item>
                <wm-list-item name="list_item4">
                    <wm-label name="label4" caption="Added Jar and deleted page"></wm-label>
                </wm-list-item>
                <wm-list-item name="list_item5">
                    <wm-label name="label5" caption="Added prefab"></wm-label>
                </wm-list-item>
            </wm-list>
            <wm-prefab name="googlemaps1" prefabname="googlemaps" destination="pune" origin="goa"></wm-prefab>
        </wm-page-content>
        <wm-right-panel name="rightpanel" content="rightnav" columnwidth="2"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>